<div class="comments-wrap">

    <div class="comment-body">
        <img class="avatar-img" src="https://gravatar.loli.net/avatar/c18c2dc71e66820e1d31c2ae1eec5d51">
        <div class="comment-box">
            <div class="username">
                <a href="http://huiyifyj.cn" target="_blank">Huiyi.FYJ</a>
            </div>
            <div class="comment-time">
                20 Seconds...
            </div>
        </div>
        <div class="comment-content">
            This is a comment posted by me.
        </div>
    </div>

</div>