.comments-wrap {
    border-top: 1px solid #f0f0f0;
    padding: 10px 6px;

    .comment-body {
        display: block;
        overflow: hidden;
        text-align: -webkit-match-parent;
        font-size: 12px;
        word-break: break-word;
        text-rendering: optimizeLegibility;

        .avatar-img {
            display: inline-block;
            // float: left;
            width: 40px;
            height: 40px;
            // position: relative;
            cursor: pointer;
            vertical-align: top;
            border-radius: 50%;
            margin: 4px 12px 4px 4px;
            box-shadow: 0 0 1px 0;

            &:hover {
                box-shadow: 0 0 4px 0;
            }
        }

        .comment-box {
            // margin: .3rem 0 0 0;
            display: inline-block;

            .username {
                display: inline;
                font-size: 16px;
                line-height: normal;
                vertical-align: top;
                color: #555;
            }

            .comment-time {
                display: inline;
                font-size: 10px;
                color: #999;
                padding-left: .2rem;
                cursor: default
            }

            .more-info {
                display: block;
                // float: right;
                box-sizing: border-box;
                display: inline-block;
            }
        }

        .comment-content {
            display: block;
            margin-left: 3.0rem;
            font-size: 15px;

            .comment-meta {
                margin: 6px 0 0 0;
                line-height: 18px;
                color: rgba(0,0,0,0.54);
                font-size: 12px;
                cursor: pointer;
            }
        }
    }
}
