.comments-wrap {
    border-top: 1px solid #f0f0f0;
    padding: 10px;
    margin-top: 5px;
    // position: relative;

    .comment-body {
        display: block;
        overflow: hidden;
        text-align: -webkit-match-parent;
        font-size: 12px;
        word-break: break-word;
        text-rendering: optimizeLegibility;

        .avatar-img {
            display: inline-block;
            width: 2.7rem; // or 40px
            height: 2.7rem; // or 40px
            // position: relative;
            cursor: pointer;
            vertical-align: top;
            margin-right: 14px;
            border-radius: 50%;
            // box-shadow: 0 0 4px 0;
            box-sizing: border-box;

            @media (max-width: 600px) {
                width: 2.4rem;
                height: 2.4rem;
            }
        }

        .comment-box {
            // margin: .3rem 0 0 0;
            display: inline;

            .username {
                display: inline;
                font-size: 16px;
                line-height: normal;
                vertical-align: top;
                color: #555;
            }

            .comment-time {
                display: inline;
                font-size: 10px;
                color: #999;
                padding-left: .2rem;
            }
        }

        .comment-content {
            display: block;
            margin-left: 3.0rem;
            margin-bottom: 8px;
            font-size: 15px;
        }
    }
}