.input-wrap {
    border: 1px solid #f0f0f0;
    border-radius: 5px;
    overflow: hidden;
    padding: 10px;
    position: relative;

    input {
        border: 0;
        width: calc(33.332% - .2rem);
        padding: 4px 2px;
        outline: none;
    }

    textarea {
        padding: 10px 14px;
        // padding: 10px;
        border: 0px;
        width: 100%;
        line-height: 1.6;
        font-size: 14px;
        height: 80px;
        resize: vertical;
        display: block;
        overflow: auto;
        background-color: rgb(250, 250, 250);
        border-radius: 5px;

        &:focus {
            outline: none;
            min-height: 120px;
            max-height: 200px;
            animation: textareaLengthen .5s;
        }
    }
}

.edit {
    // display: block;
    margin-top: 10px;
    font-size: 12px;
    color: #586069;
    word-wrap: break-word; // Allows long words to wrap to the next line

    .markdown-svg {
        overflow: hidden;
        vertical-align: middle;
        fill: #595b61;
    }

    a:hover {
        color: #97b4d6;

        .markdown-svg {
            fill: #97b4d6;
        }
    }

    button {
        user-select: none; // Make text in elements and sub-elements non-selective
        outline: none; // Remove the line of border when clicking button
        cursor: pointer; // Mouse graphic status, hand shape
        float: right;
        text-align: center;
        color: #313131;
        background-color: #ededed;
        border-radius: 1.9rem;
        padding: 6px 0 7px 0;
        width: 150px;
        font-size: 12px;
        text-shadow: 0 1px 0.9px 0px #ededed;
        border: 1px solid #fff;

        &:hover {
            border: 1px solid #ededed;
            box-shadow: inset 0 0px 1.5px 1.5px #fff;
        }

        &:active {
            border: 1px solid #ededed;
            box-shadow: inset 0 0px 1.5px 2.5px #fff;
        }
    }
}

.comment-info {
    padding: 10px;

    .comment-num {
        color: #383a3f !important;
        font-weight: bold;
    }

    .comment-svg {
        overflow: hidden;
        vertical-align: middle;
        fill: #a7a7a7;
    }
}