.fyj-loading {
    margin: 40px auto;
    width: 70px;
    text-align: center;

    > div {
        width: 18px;
        height: 18px;
        background-color: pink;
        border-radius: 100%;
        display: inline-block;
        animation: loadingDot 1.4s infinite ease-in-out both;
    }

    .dot1 {
        animation-delay: -0.32s;
    }

    .dot2 {
        animation-delay: -0.16s;
    }
}
